.parameter {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0 28px 0;
}

.block,
.selectedBlockColor,
.blockColor,
.blockActive {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    width: 63px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1d1f22;
    cursor: pointer;
    margin: 0 12px 12px 0;
}

.blockColor,
.selectedBlockColor {
    background: var(--color);
}

.block:hover {
    border: 1px solid #1d1f224b;
    color: #fff;
    background: #1d1f224b;
}


.blockActive {
    border: 1px solid #1d1f22;
    color: #fff;
    background: #1D1F22;
}

.selectedBlockColor {
    border: 5px solid #5ECE7B;
}