.btn {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    background: #5ece7b;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid transparent;
}

.middle {
    font-size: 16px;
    margin: 20px 0 40px 0;
    padding: 16px 94px;
}

.btn:hover {
    background: #ffffff;
    color: #5ece7b;
    border: 2px solid #5ece7b;
}
