.link {
    text-decoration: none;
    margin-bottom: 103px;
}

.wrap {
    position: relative;
}

.outOfStock {
    color: #8d8f9a;
    opacity: 0.5;
    position: relative;
}

.wrap,
.outOfStock {
    border: 15px solid #fff;
}

.wrap:hover,
.outOfStock:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

/* .wrap:hover::after {
    content: "";
    position: absolute;
    right: 31px;
    bottom: 72px;
    width: 52px;
    height: 52px;
    background-color: #5ece7b;
    border-radius: 50%;
    background-image: url(../../assets/images/WhiteCart.svg);
    background-repeat: no-repeat;
    background-position: 50%;
} */

.cart,
.cartRemove {
    position: absolute;
    right: 31px;
    bottom: 72px;
    width: 52px;
    height: 52px;
    border-radius: 50%;    
    background-size: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.cart {
    background-color: #5ece7b;
    background-image: url(../../assets/images/WhiteCart.svg);
}

.cartRemove {
    background-color: #ce5e5e;
    background-image: url(../../assets/images/TrashCan.svg);
}

/* .cartRemove::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    

    clip-path: polygon(
        15% 0%,
        0% 15%,
        40% 50%,
        0% 85%,
        15% 100%,
        50% 60%,
        85% 100%,
        100% 85%,
        60% 50%,
        100% 15%,
        85% 0%,
        50% 40%
    );
} */

.photo {
    width: 356px;
    height: 330px;
    object-fit: contain;
    margin-bottom: 24px;
}

.name {
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
}

.price {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}

.mesOutOfStock {
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    text-transform: uppercase;
    position: absolute;
    transform: translateY(450%) translateX(50%);
    cursor: not-allowed;
}
