.link {
    text-decoration: none;
    margin-bottom: 103px;
}

.link:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.wpar, .outOfStock {
    border: 15px solid #fff;
}

.photo {
    width: 356px;
    height: 330px;
    object-fit: contain;
    margin-bottom: 24px;
}

.name {
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
}

.price {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}

.outOfStock {
    color: #8d8f9a;
    opacity: 0.5;    
    position: relative;
    cursor: not-allowed;
}

.mesOutOfStock {
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    text-transform: uppercase;
    position: absolute; 
    transform: translateY(450%) translateX(50%);
}
