.wrap {
    position: fixed;
    height: calc(100vh - 80px);
    width: 100vw;
    left: 0px;
    top: 80px;
    background: rgba(57, 55, 72, 0.22);
    z-index: 2;
}

.content {
    width: 325px;
    padding: 8px 16px 20px 16px;
    background: #fff;
    position: absolute;
    right: 10%;
    overflow: auto;
}

.header {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 23px;
}

.txtQuantity {
    font-weight: 400;
}

.wrapTotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.total {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.totalPrice {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}

.btnWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnSmall,
.btnSmallBlack {
    font-size: 14px;
    padding: 13px 20px;
    width: 140px;
}

.btnSmallBlack {
    color: #1D1F22;
    background-color: #fff;
    border: 2px solid #1D1F22;
}

.btnSmallBlack:hover {
    background: #1D1F22;
    color: #fff;
    border: 2px solid #1D1F22;
}