.wrap {
    margin-bottom: 80px;
}

.wrap,
.categories,
.cartWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currencyWrap,
.cart {
    cursor: pointer;
}

.currency {
    margin-right: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}

.more {
    margin-right: 22px;
}
